.todo-item {
    display: flex;
    margin-bottom: 10px;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.todo-item-text {
    padding-left: 5rem;
    font-size: 1.2rem;
    flex: 6;
}